<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Practice Project</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      background-color: #d6dbd2;
    }
    .drivers {
      display: flex;
      justify-content: center;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .driver {
      background-color: #fc7a57;
      height: 300px;
      width: 250px;
      margin: 10px 20px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .image {
      background-color: white;
      height: 150px;
      width: 150px;
      position: relative;
    }
  </style>
</head>
