<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Practice Project</title>
  <style>
    body {
      background-color: rgb(95, 92, 92);
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
      max-width: 1200px;
    }
    #drivers {
      display: flex;
      justify-content: center;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    .driver {
      background-color: white;
      height: 250px;
      width: 200px;
      margin: 10px 20px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10%;
    }
    .driver:hover {
      background-color: rgb(66, 145, 218);
    }
    .image {
      background-color: white;
      height: 150px;
      width: 150px;
      position: relative;
    }
    nav {
      display: flex;
      justify-content: space-between;
    }
    .nav-right {
      align-items: flex-end;
    }
    h1 {
      text-align: center;
    }
    a,
    a:link {
      color: black;
      text-decoration: none;
    }
    a:hover {
      background-color: aqua;
    }
  </style>
</head>
