<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <nav>
      <div class="nav-left"><h4>Home</h4></div>
      <div class="nav-right"><h4>Drivers</h4></div>
    </nav>
    <h1>2021 F1 Drivers</h1>
    <div id="drivers">
      <%if (driversData.length>0){ %> <% driversData.forEach(driver=>{%>
      <div class="driver">
        <img
          class="image"
          src="./Images/<%= driver.driverNumber %>.png "
          alt=""
        />
        <h3 class="driverName"><%= driver.driverName %></h3>
        <button class="moreInfo">More</button>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
</html>
