<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
  <div class="driver">
    <img
      class="image"
      src="../Images/<%= id %>.png "
      alt=""
    />
    <h3 class="driverName"><%= driverName %></h3>
   
  </div>

  </div>
  </body>
</html>