<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <nav>
      <div class="nav-left">
        <h4><a href="/">Home</a></h4>
      </div>
      <div class="nav-right">
        <h4><a href="/drivers">Drivers</a></h4>
      </div>
    </nav>
    <h1>2021 F1 Drivers</h1>

    <!-- <div id="drivers">
      <div class="driver">
        <img class="image" src="https://via.placeholder.com/100" alt="" />
        <h3 class="driverName">Placeholder text</h3>
        <button class="moreInfo">More</button>
      </div>
    </div> -->
  </body>
</html>
