<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <h1>2021 F1 Drivers</h1>

    <div id="drivers">
      <div class="driver">
        <img class="image" src="https://via.placeholder.com/100" alt="" />
        <h3 class="driverName">Placeholder text</h3>
        <button class="moreInfo">More</button>
      </div>
    </div>
  </body>
</html>
